body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    background-image: url('https://img.freepik.com/fotos-premium/o-codigo-de-programacao-funciona-atraves-da-ilustracao-3d-do-terminal-da-tela-do-computador_250994-1966.jpg');
    background-size: cover;
}
p {
    font-size: 1.2em; 
}

h2, h6 {
    color:  #00FFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 1.5em
}

.secao2 {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
