body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h4 {
    color: #333;
    background-color: #3498db;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

li {
    list-style: none;
}

/* Estilizando os dados */
h4 + p {
    color: #555;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Adicionando espaçamento entre os dados */
h4 + p:not(:first-child) {
    margin-top: 10px;
}
